span {
    position: relative;
    left: 30px;
}

.display {
    display: inline-block;
}

.btn-style {
    width: 100px;
    height: 3rem;
    border: none;
    background-color: lightcoral;
}

#player {
    
    width: 100px;
    height: 100px;
    background-color: green;
    /* margin-right: 10%; */
}

#enemy {
    position: relative;
    left: 98px;
    width: 100px;
    height: 100px;
    background-color: red;
}

#player-ui {
    float: left;
    margin-right: 30%;
}

#enemy-ui {
    float: center;
}

#weak {
    background-color: aqua;
}

#weak:hover {
    background-color: darkblue;
}

#strong {
    background-color: orangered;
}

#strong:hover {
    background-color: brown;
}